body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    line-height: 1.5;
    color: #222;
	padding: 7px 7px 7px 7px;
}

h1 {
    font-size: 28px;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
}

h2 {
    font-size: 20px;
    margin-top: 25px;
    border-bottom: 1px solid #ccc;
}

h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

p {
    margin: 5px 0;
    margin-bottom: 0px;
    margin-top: 0px;
}

ul {
    margin-top: 5px;
}

.web_only {}
.pdf_only {display:none;}

@media print {
  a {
    color: inherit;
    text-decoration: none;
  }
  .pdf_only {}
  .web_only {display:none;}

}